.card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.card__img-container {
  height: 282px;
  overflow: hidden;
}

.card__img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

.card__img:hover {
  transform: scale(1.05);
}

.card__del {
  background-image: url(../images/trash_active.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 15px;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

.card__del:hover {
  opacity: 1;
  cursor: pointer;
}

.card__footer {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 18px 0;
}

.card__title {
  color: black;
  font-size: 24;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  min-width: 21px;
  height: 19px;
  background-image: url(../images/like_inactive.svg);

  transition: transform 0.15s ease-in-out;
}

.card__like_type_active {
  background-image: url(../images/like_active.svg);
}

.card__like:hover {
  background-image: url(../images/like_hover.svg);
  cursor: pointer;
  transform: scale(1.2);
}

.card__like_type_active:hover {
  background-image: url(../images/like_active.svg);
}
