.footer {
  padding: 68px 0 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyrite {
  font-size: 18px;
  color: #545454;
}

.footer__logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__logo {
  opacity: 0.5;
  width: 30px;
  height: 30px;
  background-size: cover;
  transition: opacity 0.15s ease-in-out;
}

.footer__logo_hover:focus,
.footer__logo_hover:hover {
  opacity: 1;
}

.footer__logo_facebook {
  background-image: url(../images/facebook_white.svg);
}

.footer__logo_instagram {
  background-image: url(../images/instagram_white.svg);
}

.footer__logo_practicum {
  background-image: url(../images/logo_practicum.svg);
  height: 35px;
  width: 170px;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 0 36px;
  }
  .footer__copyrite {
    font-size: 14px;
  }
  .footer-container {
    flex-flow: column;
    gap: 20px;
  }
}
