@import url(./common.css);
@import url(../blocks/header.css);
@import url(../blocks/popup.css);
@import url(../blocks/form.css);
@import url(../blocks/logo.css);
@import url(../blocks/nav.css);
@import url(../blocks/burger-menu.css);
@import url(../blocks/profile.css);
@import url(../blocks/profile-header.css);
@import url(../blocks/album.css);
@import url(../blocks/album-container.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);


* {
  /* border: 0.5px dotted rgba(255, 255, 255, 0.5); */
}

.body {
  background-color: rgb(0, 0, 0);
}

.body_lock {
  overflow: hidden;
}

.page {
  max-width: 880px;
  box-sizing: border-box;
  margin: auto;

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 50px 0;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 30px 0;
  }
}

@media (max-width: 425px) {
  .page {
    padding: 0 19px 0;
  }
}